run = "npm run dev"
entrypoint = "index.js"
modules = ["nodejs-20:v9-20231020-a3526c9"]
hidden = [".config", "package-lock.json", ".next", ".swc", "app/api"]

[nix]
channel = "stable-23_05"

[env]
NEXT_TELEMETRY_DISABLED = "1"
NEXT_PUBLIC_SITE_URL = "https://aquavista.replit.app"

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "static"
publicDir = "out"

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[[deployment.responseHeaders]]
path = "/*"
name = "Cache-Control"
value = "no-store"

[[deployment.responseHeaders]]
path = "/*"
name = "X-Frame-Options"
value = "DENY"

[[deployment.responseHeaders]]
path = "/*"
name = "X-Content-Type-Options"
value = "nosniff"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 3003
externalPort = 3003

[[ports]]
localPort = 3004
externalPort = 3000

[[ports]]
localPort = 3005
externalPort = 4200
